
<div ng-controller="indexController as ctrl" ng-cloak>
  <div layout="column">
  <div layout="row" layout-align="center center" class="ng-scope layout-align-center-center layout-row">
    <form name="projectForm" autocomplete="off" ng-submit="getPets()">
      <h1 align="center">Pet Search</h1>
      <h3>Find your perfect pet today. Start by entering your location below.</h3>
      <md-input-container class="md-block">
        <input name="zip" placeholder="ZIP Code" ng-model="zip">
      </md-input-container>
    </form>
  </div>
    <div ng-show="showLoadingIcon" style="width: 150px; margin-left: auto; margin-right: auto;">
      <img src="../img/loading.gif" align="middle"/>
    </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <md-list ng-show="!showLoadingIcon">
        <md-subheader ng-show="pets.length > 0" class="md-no-sticky">Scroll down for results</md-subheader>
        <md-subheader ng-show="pets.length > 0" class="md-no-sticky"></md-subheader>
      <md-list-item class="md-2-line contact-item" ng-repeat="pet in pets" style="background-color: white">
        <img ng-src="{{pet.media.photos.photo[0].$t}}" class="md-avatar" alt="{{contact.name}}" />
        <div class="md-list-item-text compact">
          <h2>{{pet.name.$t}}</h3>
            <p>{{pet.animal.$t}}</p>
            <p>{{pet.age.$t}}, {{pet.size.$t}}</p>
            <div ng-repeat="breed in pet.breeds.breed">
              <p>{{breed.$t}}</p>
            </div>
          </div>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </div>

</div>
